@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root{
    --primary: #27296d;
    --secondary: #5e63b6;
    --teciari:#a393eb;
    --cuarto:#f5c7f7;
    --cinco:#f8f8f8;
    --sexto:#dfebed;
}
*{
    background-color:(var--primary);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    justify-content: center;
    margin: 10px;
    background: #27296d;
}
.carousel-item {
    height: 80vh;
    min-height: 500px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
    background-position: center center;
}
h1{
    color: brown;
}
h2{
    color: blue;
}
.paragrafo{
    color:red;
}
.prueba :hover{
    border: #27296d;
}
.prueba{
    width: 16em;
    margin-left:10em;
}
.prueba:hover{
        width: 20em;
        transition: width 2s;

}
.foto{
    width: 20em;
    margin-left:5em;
}
.foto:hover{
    width: 25em;
    transition: width 2s;
}
.foto2{
    width: 20em;
    display: inline;
    margin-left: 30em;
}
.foto2:hover{
    width: 20em;
    transition: width 2s;
}
.titol5{
    text-align: center;
}
.neo{
    font-size: 50px;
}
.roma{
    font-size: 50px;  
}
.texto{
    text-align: center;
}
h1{
    text-align: center;
}
.foto3{
    display: inline;
    height: 30em;
    width: 23em;
}
.foto4{
    display: inline;
    height: 30em;
    width: 20em;
}
.carousel{
    width: 30em;
    margin-left: 50em;
}
.carta1{
    position: relative;
    left: 18em;
    bottom: 701px;
}
.carta2{
    position: relative;
    left: 36em;
    bottom: 58em;
}
.carta3{
    position: relative;
    left: 54em;
    bottom: 1591px;
}